.maps {
    margin: auto;
}

.listMap {
    width: 100%;
    height: 10%;
    padding: 10px 20px;
    overflow: hidden;
    overflow-y: scroll;
}

.titleMap{
    font-size: 1.3em;
    font-weight: 400;
    text-align: center;
}

.listMap a{
  color: grey;
}