.tr-orange {
    background-color: #ffc10752
}

.titleDiet {
    display: flex;
    justify-content: space-between;
    margin: 30px 0 60px 10px;
}

.titleDiet .button {
    padding: 2px;
    background-color: rgb(246, 246, 246);
    padding: 10px;
    font-size: .8em;
}

.titleDiet h2 {
    font-weight: 300;
}

.imgDiet {
    width: 20%;
    margin: 200px auto;   
}

.new-recipe:hover{
text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
background:rgb(227, 252, 243)
}