.date-doctor{
        text-align: center;
}

.date-doctor .button{
margin: 40px;
}

.date-doctor img{
    margin-top: -80px;
    width: 20%;
}

.date-doctor h1{
font-weight: 300;
margin-bottom: 50px;
}

