header {
    padding: 60px;
    height: 90vh;
    background-color: rgba(255, 255, 255, 1);
    background-size: 100% auto;
    background-image: url("../../../images/7b658101a5fe408594d579077d037a52.jpg");
    background-blend-mode: luminosity;
    transition: background-color 1s ease-out;
}

header p {
    color: rgb(221, 151, 70);
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    margin: 20px;
    font-size: 1.2em;


}